* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100%;
}

.bg {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./assets/background.jpeg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
}

.container-header {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 3rem;
        text-align: center;
        color: #29aa6a
    }
    h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

    .btn {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        border: 2px solid #29aa6a;
        border-radius: 40px;
        width: 200px;
        transition: 0.3s ease-in-out;
        
        a{
            text-align: center;
            text-decoration: none;
            padding: 1rem;
            background-color: #fff;
            border-radius: 30px;
            color: #29aa6a;
            width: 200px;
            font-size: 1.2rem;
            font-family: 'Anton', sans-serif;
        
        }

    }
    
    .btn:hover{
        padding: 0;
        border: none;
    }
}

.tecnologys{
    margin-top: 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    background-color: #fff;
    justify-content: space-around;
    h3 {
        display:none;
    }

    .container-logo img{
            max-width: 150px;
    }
}

@media screen and (max-width:786px) {   
    .container-header {
        margin-top: 9rem;
    }


    .tecnologys{
        flex-direction: column;
        max-height: 100vh;
        h3{
            margin-top: 1rem;
            display: flex;
            font-family: 'Anton', sans-serif;
            color: #29aa6a;
        }
    }
}

// footer{
//     width: 100%;
//     height: 300px;
//     background-color: #29aa6a;
// }